<div ng-controller="ordersController as oc">
  <h3>Add a new order</h3>
  <form name="orderForm">
    <label>Customer:</label>
    <select ng-model="oc.new.customer_name" name='customer_name' placeholder='select'>
      <option disabled selected value> -- select -- </option>
      <option ng-repeat="customer in oc.customers" value="{{customer.name}}" ng-bind="customer.name"></option>
    </select>
    <label>Order</label>
    <input ng-model="oc.new.num" type="number" name="num" value="1" min="1">
    <select ng-model="oc.new.product_name">
      <option disabled selected value> -- select -- </option>
      <option ng-repeat="product in oc.products" value="{{product.name}}" ng-bind="product.name" placeholder='select'></option>
    </select>
    <input type="submit" ng-click="oc.create()" value="Add">
  </form>
  <input type="text" ng-model="customer_filter" placeholder="search name">
  <table>
    <thead>
      <th>
        Customer Name
      </th>
      <th>
        Product
      </th>
      <th>
        Quantity
      </th>
      <th>
        Date
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="order in oc.orders | filter:customer_filter | orderBy:'createdAt'">
        <td ng-bind="order.name">
        </td>
        <td ng-bind="order.product">
        </td>
        <td ng-bind="order.quantity">
        </td>
        <td ng-bind="order.createdAt  | date : format : timezone">
        </td>
      </tr>
    </tbody>
  </table>

</div>
