<div ng-controller="customersController as cc">
  <h3>Add a new customer</h3>
  <form name="customerForm">
    <label>Customer Name:</label><input type="text" name="name" ng-model="cc.name" ng-minlength='2' required>
    <input type="submit" ng-click="cc.create()" value="Add">
  </form>
  <div ng-show="customerForm.name.$valid && customerForm.name.$touched">
    <div ng-messages="customerForm.name.$error">
      <p ng-message="minlength">The player name is too short.</p>
      <p ng-message="required">The player name is required.</p>
    </div>
  </div>
  <div ng-messages="cc.serverErrors">
    <p ng-message="exists">Name already exists.</p>
  </div>
  <input type="text" ng-model="customer_filter" placeholder="search name">
  <table>
    <thead>
      <th>
        Customer Name
      </th>
      <th>
        Created Date
      </th>
      <th>
        Actions
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="customer in cc.customers | filter:customer_filter | orderBy:'created_at'">
        <td ng-bind="customer.name">
        </td>
        <td ng-bind="customer.createdAt  | date : format : timezone">
        </td>
        <td>
          <button type="button" name="button" ng-click="cc.destroy(customer._id)">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
